#!/bin/bash
# ==================================================================
# pas_services_*
# ==================================================================
pas_service_redis="rediscloud"
pas_service_redis_plan="100mb"
pas_service_rabbitmq="cloudamqp"
pas_service_rabbitmq_plan="bunny"
pas_service_mysql="cleardb"
pas_service_mysql_plan="boost"
